.badge-programming{
    background-color: #4D77FF;
}

.badge-digitaldesign{
    background-color: #5EE6EB;
}

.badge-komputerdanjaringan{
    background-color: #65C18C;
}

.badge-kelistrikan{
    background-color: #F9D371;
}

.badge-senitari{
    background-color: #D47AE8;
}

.badge-senimusik{
    background-color: #FFB319;
}

.badge-senilukis{
    background-color: #FF6464;
}
