@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    overflow-x: hidden;
    background-image:  url("../image/changepassword-header.png");
}

.header{
    width: 100vw;
    height: 100vh;
    background-image:  url("../image/changepassword-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.card{
    box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 35%;
    margin-left: 100px;
    margin-top: 200px;
}
