@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 60vh;
    background-image:  url("../image/forum-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container-start{
    margin-top: 100px;
}

.slogan{
    max-width: 30%;
    word-wrap: break-word;
    margin: 0 auto;
}

.post-but{
    background-color: #1FD09E;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
}

.post-but:hover{
    background-color: #1aad84;
    color: #fff;
}

.search{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
    margin-right: 100px;
}

.card{
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
    transition: all 0.3s ease 0s;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.card:hover{
    box-shadow: -20px 20px 10px 0 rgba(0, 0, 0, 0.3);
}

.project-image{
    width: 100%;
    height: 250px;
    max-height: 250px;
}

.detail{
    text-decoration: none;
    color: #000;
}

.detail:hover{
    color: #000;
}

.profile{
    margin-top: -20px;
}

.like{
    margin-left: 150px;
}

.username{
    text-decoration: none;
    color: #000;
}
