.user-image{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}

.reply-but{
    background-color: #2834ae;
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.reply-but:hover{
    background-color: #232c94;
    color: #fff;
}

.reply-modal-but{
    background-color: #2834ae;
    padding: 10px 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
}

.reply-modal-but:hover{
    background-color: #232c94;
    color: #fff;
}

.edit-but{
    background-color: #7b849e;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
}

.edit-but:hover{
    background-color: #6a7188;
    color: #fff;
}

.modal-title{
    color: #2834ae;
}

.reply{
    line-height: 1.2;
    font-size: 16px;
    letter-spacing: 0.8;
}
