@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 60vh;
    background-image: url("../image/forum-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container2{
    margin-left: 200px;
    margin-right: 100px;
}

.createforum-but{
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #1FD09E;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.createforum-but:hover{
    color: #fff;
    box-shadow: 0 0 150px 0 rgba(255, 255, 255, 1);
}

.modal-title{
    color: #1FD09E;
}

.create-forum-modal-but{
    background-color: #1FD09E;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
}

.create-forum-modal-but:hover{
    background-color: #1aad84;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

option{
    text-align: center;
}

.slogan{
    max-width: 30%;
    word-wrap: break-word;
    margin: 0 auto;
}

.forum-detail{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease 0s;
}

.forum-detail:hover{
    text-decoration: none;
    color: #1FD09E;
}

.card{
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.search{
    margin-top: 20px;
}

.search-title-forum{
    width: 300px;
    max-width: 300px;
    height: 30px;
    max-height: 30px;
    font-size: 14px;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.select-category-forum{
    width: 300px;
    max-width: 300px;
    height: 30px;
    max-height: 30px;
    font-size: 14px;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.search-but{
    margin-left: 10px;
    padding: 10px 25px;
    color: #fff;
    background-color: #2834ae;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.search-but:hover{
    background-color: #212a8d;
}

.forum-content{
    margin-top: 100px;
}
