@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300&family=Judson&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}


body{
    overflow-x: hidden;
}

.header{
    padding-top: 100px;
}

.name{
    font-weight: bold;
    font-size: 3em;
    max-width: 500px;
    word-wrap: break-word;
    font-family: 'Judson', serif;
}

.teks{
    font-size: 20px;
    color: #259df3;
}

.profilepicture{
    width: 350px;
    height: 350px;
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-but{
    background-color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    color: #259df3;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    box-shadow: -5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.contact-but:hover{
    background-color: #259df3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
}

.myproject{
    margin-top: 100px;
}

h4{
    color: #259df3;
}

.project-detail{
    text-decoration: none;
}

.card-project{
    transition: all 0.3s ease 0s;
    box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-project:hover{
    border-color: #259df3;
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

td{
    padding-left: 150px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.aboutme{
    text-align: justify;
}

.card-wishlist:hover{
    transition: all 0.3s ease 0s;
    border-color: #259df3;
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.project-image-wishlist{
    width: 100%;
    height: 200px;
    max-height: 200px;
}
