@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    overflow-x: hidden;
    font-family: 'Catamaran', sans-serif;
}

.header{
    padding-top: 100px;
}

.name{
    font-weight: bold;
    font-size: 3em;
    max-width: 500px;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
}

.teks{
    font-size: 20px;
    color: #259df3;
}

.profilepicture{
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-but{
    background-color: #259df3;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.contact-but:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
}

.myproject{
    margin-top: 100px;
}

h4{
    color: #259df3;
}

.project-detail{
    text-decoration: none;
}

.card-project{
    transition: all 0.3s ease 0s;
}

.card-project:hover{
    transform: translateX(10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

td{
    padding-left: 150px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.aboutme{
    text-align: justify;
}

