@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


body{
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image:  url("../image/myprofile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.row{
    padding-left: 100px;
    padding-top: 50px;
}

.card-profile{
    box-shadow: -5px 5px 30px 0 rgba(0, 0, 0, 0.1);
}

.card-project{
    box-shadow: -5px 5px 30px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.profilepicture{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    border: 1px solid #fff;
    background-color: transparent;
    margin-bottom: 10px;
}

.card-project-detail{
    text-decoration: none;
    color: #000;
}

.card-project:hover{
    text-decoration: none;
    color: #000;
    box-shadow: -5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.project-image{
    width: 300px;
    max-width: 300px;
    height: 200px;
    max-height: 200px;
}

.forum-list{
    text-decoration: none;
    color: #fff;
}



