@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

li, a{
    text-decoration: none;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: -5px 5px 20px 0 rgba(0, 0, 0, 0.3);
}

h5{
    color: #fff;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #fff;
}

.nav-links li a:hover{
    color: #43536a;
}

.login-btn{
    padding: 10px 25px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login-btn:hover{
    background-color: #fff;
    color: #000;
}


.dropbtn {
    background-color: transparent;
    color: #fff;
    padding: 16px;
    font-size: 18px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: white;
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover{
    background-color: #43536a;
    color: white;
    text-decoration: none;
}


