@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300&family=Judson&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image:  url("../image/post-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


.card2{
    width: 40%;
    max-width: 40%;
    height: 40vw;
    max-height: 40vw;
    box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 300px;
}

input, select{
    padding-left: 10px;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

label{
    font-weight: bold;
}

input:focus {
    outline: none;
}

.bi-patch-question-fill{
    margin: 20px;
    cursor: pointer;
}

.col2{
    margin-left: -25%;
}

.card-for-step{
    width: 300px;
    max-width: 300px;
}

.card-step{
    padding: 5px;
    width: 300px;
    max-width: 300px;
    height: 50px;
    max-height: 50px;
    background-image: url("../image/card-step.png");
}

.step-num{
    padding: 5px;
    color: #fff;
}

#how{
    transition: opacity 1s;
}

#step1{
    transition: 0.5s;
}

#step2{
    transition: 1s;
}

#step3{
    transition: 1.5s;
}

#step4{
    transition: 2s;
}

#step5{
    transition: 2.5s;
}
#step6{
    transition: 3s;
}



