@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.card{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: none;
}

.name{
    position: absolute;
    top: 120px;
    margin-left: 180px;
}



.change{
    margin-left: 100px;
}

.profilepicture{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    margin-left:  80px;
}

table{
    margin-left: 80px;
}

td{
    padding-left: 20px;
    font-family: 'ABeeZee', sans-serif;
}

