@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    overflow-x: hidden;
}

.row{
    padding-top: 100px;
}

.project-image{
    width: 500px;
    height: 500px;
    background-color: #fff;
}

.project-title{
    text-transform: uppercase;
    color: #f77846;
}

.card-body{
    background-color: #fff7de;
}

.project-description{
    text-align: justify;
    max-width: 500px;
    word-wrap: break-word;
}

.link{
    font-size: 14px;
}

.project-video{
    width: 100%;
    height: 50%;
}

.pp{
    width: 150px;
    height: 150px;
    border-radius: 500px;
}

.username{
    text-decoration: none;
}
