body{
    height: 100%;
    overflow-x: hidden;
}

.card1{
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.image-detail{
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.image-detail:hover{
    cursor: pointer;
}

.input{
    border: 1px dashed rgba(0, 0, 0, 0.3);
}
input:focus{
    border: 3px solid rgba(0, 0, 0, 0.3);
}

textarea:focus{
    border: 3px solid rgba(0, 0, 0, 0.3);
}

#item1{
    left: 25%;
}
#item2{
    left: 25%;
}

#item3{
    left: 35%;
}

