@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    overflow-x: hidden;
}

.col-md-6{
    padding: 150px;
}

.project-picture{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
}

.project-title{
    text-transform: uppercase;
    color: #7b849e;
}

.project-description{
    text-align: justify;
    max-width: 700px;
    word-wrap: break-word;
}

.username{
    font-size: 2em;
    color: #259df3;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
}

.by{
    font-size: 25px;
}

.project-description{
    text-align: justify;
}

.project-link{
    color: #259df3;
    transition: all 0.3s ease 0s;
}


.about{
    background-color: #259df3;
    margin-top: 100px;
}

.pertanyaan{
    max-width: 1000px;
    word-wrap: break-word;
    margin: 0 auto;
}

.form-pertanyaan{
    margin-bottom: 200px;
}

.submit-but{
    border-radius: 5px;
    color: #fff;
    border: none;
    background-color: #259df3;
    padding: 10px 25px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.submit-but:hover{
    transform: translateY(-1px);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
