@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image:  url("../image/register-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    width: 25vw;
    height: 75vh;
    top: 10%;
    left: 55%;
    box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover{
    opacity: 0.9;
}

.signin{
    text-decoration: none;
    color: #259df3;
}

.word{
   padding: 30% 20%;
   text-align: center;
}

.brand{
    font-size: 50px;
    margin-left: -30px;
    font-family: 'Aclonica', sans-serif;
}

