@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../image/register-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.logo-head{
    position: absolute;
    top: 40vh;
    margin-left: -100px;
}

.brand{
    font-size: 50px;
}
