body{
    overflow: hidden;
    background-image:  url("../image/background-resetpasswordemail.png");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container{
    position: absolute;
    top: 30vh;
    left: 30vw;
}

p{
    max-width: 500px;
    word-wrap: break-word;
    text-align: justify;
}

.link a{
    text-decoration: none;
}


