@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image:  url("../image/welcome-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    font-weight: bold;
}

.gambar-depan{
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    width: 900px;
    height: 400px;
}

.container-header{
    margin-right: auto;
    margin-left: auto;
    max-width: 60vw;
}

.container-header > h1{
    font-size: 3.5em;
}

.container-header > p{
    max-width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
    font-size: 1.2em;
}

.getstart-btn{
    padding: 10px 25px;
    font-size: 18px;
    background-color: #1FD09E;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.getstart-btn:hover{
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.9);
}

.startpost-btn{
    padding: 10px 25px;
    font-size: 18px;
    background-color: rgba(122, 113, 206, .2);
    color: #fff;
    transition: all 0.3s ease 0s;
}

.startpost-btn:hover{
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.9);
}

.card-service{
    box-shadow: -2px 2px 5px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border: none;
}

.head{
    font-family: 'Rubik', sans-serif;
}


.card-img-overlay{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}




