@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



form{
    background-color: white;
    z-index: 1;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1)
}

.btn1{
    background: linear-gradient(to right, #373B44 , #4286f4);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    height: 45px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
}

.btn1:hover{
    color: white;
    text-decoration: none;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
    transform: translateY(-2px);
    transition: 0.2s;
}

p:hover{
    text-decoration: none;
}



