@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@300&display=swap');
/*
font-family: 'Karla', sans-serif;
font-family: 'Rubik', sans-serif;
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.user-count{
    font-size: 3em;
    color: #9AE66E;
    font-family: 'Rubik', sans-serif;
}

.project-count{
    font-size: 3em;
    color: #185ADB;
    font-family: 'Rubik', sans-serif;
}

.forum-count{
    font-size: 3em;
    color: #FFAD60;
    font-family: 'Rubik', sans-serif;
}
.pending-count{
    font-size: 3em;
    color: #FF6363;
    font-family: 'Rubik', sans-serif;
}

.card-stat{
    transition: all 0.3s ease 0s;
    box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-stat:hover{
    cursor: pointer;
    box-shadow: -10px 10px 10px 0 rgba(122, 190, 238, 0.4);
}
