@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300&family=Judson&display=swap');

nav{
    background-color: #259df3;
    margin-left: 15%;
    padding: 15px;
    font-family: 'Archivo', sans-serif;
}


