.profilepicture{
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.vl {
    border-left: 3px solid rgba(0, 0, 0, 0.3);
    height: 100%;
}

.card-input-element {
    display: none;
}

.card-input:hover {
    cursor: pointer;
    border-color: #259df3;
}

.card-input-element:checked + .card-input {
    box-shadow: 0 0 1px 1px #259df3;
}

.desc{
    text-align: justify;
}

.card-pro:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
