.card{
    position: relative;
    box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.4);
    background: transparent;
    animation: transitionIn 2s;
}

.card{
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}

.card-img-overlay{
    color: transparent;
}

.username-card{
    color: black;
    text-decoration: none;
}

.username-card:hover{
    color: #8fb4e7;
}

.wishlist:hover{
    color: rgb(248, 47, 47);
}

.card-img-overlay:hover{
    color: white;
    transition: 0.3s;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
}


@keyframes transitionIn  {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform:  translateY(0);
    }
}
