.footer {

    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
  }



  /* Sticky footer style and color
  -------------------------------------------------- */
  footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
  }

  footer a {
    color: #999;
    text-decoration:none;
  }

  footer a:hover {
      transition: 0.3s;
    opacity: 0.4;
  }

  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }
